.avatar {
  border-radius: 50%;
  border: 2px solid var(--text-color);
  width: 32px;
  height: 32px;

  .avatarPlaceholder {
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: inherit;
  }

  img {
    width: 100%;
    border-radius: 50%;
  }
}
