.mainWrapper {
  width: 100%;
  padding: 1rem;

  .end-of-list {
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    color: grey;
  }
}

@media (max-width: 768px) {
  .mainWrapper {
    padding: 0;
  }
}
