[data-theme="light"] {
  --disabled-bg-color: rgba(26, 137, 23, 0.25);
  --primary-bg-color: #1a8917;
}

[data-theme="dark"] {
  --disabled-bg-color: rgba(26, 137, 23, 0.7);
  --primary-bg-color: #24b11f;
}

.button {
  --show-tip-arrow: none;
  padding: 0.3rem 0.8rem;
  background-color: var(--primary-bg-color);
  border: none;
  border-radius: 99em;
  outline: 0;
  color: white;
  cursor: pointer;

  &:focus {
    outline: 2px solid var(--text-color);
  }
}

.textBtn {
  background-color: transparent;
  color: var(--primary-bg-color);
}

.button:disabled,
.disabled {
  background-color: var(--disabled-bg-color);
  outline: 0;
}

[data-title]:after {
  display: var(--show-tip-arrow);
  content: attr(data-title);
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  padding: 8px 12px;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

[data-title]:before {
  display: var(--show-tip-arrow);
  content: "";
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--text-color);
}

[data-title]:hover {
  --show-tip-arrow: block;
}
