.commentWrapper {
  display: flex;
  justify-content: space-between;

  .user {
    display: flex;
    align-items: center;
    gap: 2rem;

    .username {
      display: flex;
      flex-direction: column;

      .userHeader {
        padding: 1px 6px;
        font-size: 11px;
        color: var(--text-color);
        margin-left: 0.75rem;
        background-color: rgb(26 137 23 / 1);
        text-transform: uppercase;
      }

      .edited {
        color: rgb(117 117 117 / 1);
      }
    }

    .actions {
      color: rgb(117 117 117 / 1);
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}

.deleteConfirm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  header {
    font-size: 2rem;
    font-weight: bold;
  }

  main {
    width: 70%;
  }

  footer {
    display: flex;
    gap: 1rem;

    .cancelBtn {
      cursor: pointer;
      background-color: transparent;
      border: 1px solid var(--text-color);
      padding: 0.6rem 1rem;
      border-radius: 99em;
    }

    .deleteBtn {
      cursor: pointer;
      background-color: red;
      border: none;
      padding: 0.7rem 1.1rem;
      border-radius: 99em;

      &:hover {
        background-color: rgba(255, 0, 0, 0.8);
      }
    }
  }
}

.commentBody {
  padding-top: 2rem;
  padding-bottom: 5px;
  word-break: break-all;
  /* white-space: pre; */
  max-height: 96%;
  overflow-y: auto;
}
