.authenticationWrapper {
  width: 100%;
  max-width: 678px;
  height: 100%;
  max-height: 695px;
  color: var(--text-color);
  display: grid;
  place-items: center;
  padding: 2.5rem 3.5rem;
  text-align: center;

  .header {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 28px;
    letter-spacing: -0.03em;
  }

  .main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin-top: 10rem;
    }

    .loginWrapper {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .googleSignButton {
      width: 300px;
      background-color: var(--background-color);
      color: var(--text-color);
      border-radius: 9999px;
      border-width: 1px;
      border-style: solid;
      border-color: rgba(163, 163, 163, 0.8);
      padding: 8px;
      font-weight: 400;
      cursor: pointer;

      & > span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        font-size: 16px;
      }
    }

    .action {
      cursor: pointer;
      font-family: sohne-bold, Helvetica Neue, Helvetica, Arial, sans-serif;
      line-height: 1.5rem;
      --text-opacity: 0.8;
      color: rgb(15 115 12 / var(--text-opacity));

      &:hover {
        --text-opacity: 1;
      }
    }
  }

  .footer {
    font-size: 13px;
    color: rgb(115 115 115 / 1);

    .underlinePointer {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
