@font-face {
  font-family: "CharterRegular";
  src: url("assets/fonts/charter/ttf/Charter\ Regular.ttf") format("truetype"),
    url("assets/fonts/charter/otf/Charter\ Regular.otf") format("opentype");
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("assets/fonts/helvetica-neue-5/HelveticaNeueMedium.otf")
    format("opentype");
}

@font-face {
  font-family: "GomePixel";
  src: url("assets/fonts/gome-pixel-font/GomePixel-DYJX1.otf")
    format("opentype");
}

@font-face {
  font-family: "MinecraftRegular";
  src: url("assets/fonts/minecraft-font/MinecraftRegular-Bmg3.otf")
    format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background-color 1s, color 0.1s;
}

.live-text {
  animation: idleAnimation 1s steps(2) infinite;
  font-family: "MinecraftRegular";
}

@keyframes idleAnimation {
  0% {
    font-size: 1rem;
    /* transform: translateY(0rem); */ /* Default position */
  }
  50% {
    font-size: 0.999rem;
    /* transform: translateY(-0.02rem); */ /* Slightly move up */
  }
  100% {
    font-size: 1rem;
    /* transform: translateY(0rem); */ /* Move back to original position */
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;
  /* font-size: 0.7rem; */

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  /* background-color: rgba(255, 255, 255);
  color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #ffffff;
  --text-color: #000000;
  --grey-text-color: #dbdbdb;
  --primary-color: #1a8917;
  --danger-color: red;
}

[data-theme="light"] {
  --background-color: #fff;
  --text-color: #000;
  --border-color: #f2f2f2;
  --primary-color: #1a8917;
  --danger-color: red;
  --grey-text-color: #757575;
}

[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #ffffff;
  --border-color: rgb(63, 63, 63);
  --primary-color: #24b11f;
  --danger-color: red;
  --grey-text-color: #999999;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  /* font-family: "HelveticaNeue" "CharterRegular"; */

  svg {
    color: var(--text-color);
  }
}

.dropdownItems {
  width: max-content;
  max-width: 30vw;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);

  .dropdownItem {
    width: 100%;
    /* border-bottom: 1px solid var(--text-color); */
    text-align: center;
    align-items: center;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
      background-color: var(--text-color);
      color: var(--background-color);
    }
  }
}
